.books-table td {
  font-size: 18px;
}
.books-table tr
{
    display:flex;
    
}
#theader {
  font-size: 20px;
  font-weight: 600;
  background-color: beige;
  
}
.books-table th, td {
    width:180px;
    padding:10px 0px 10px 0px;
  text-align:center;
  vertical-align:central;
}
.btton {
  border-radius:10px;
  background-color: lightgreen;
}
.btn{
    border-radius:10px;
    background-color:crimson;
}
.bttn-add {
  border-radius: 10px;
  background-color:lightgreen;
}
.form-controll
{
    border-radius:15px;
}
.book-image {
  height: 120px;
  width: 120px;
}
